<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        .font {font-size:200px;}
        #color {color: blue;}
        #color2 {color: red}
        .font2 {font-size: 70px;}
    </style>
</head>
<body>
<h1 class= "font" id= "color">ebay</h1>
<h2 class= "font2" id = "color2"> 50% sale on all Nike shoes</h2>
<a href = "/product">
    <button>
    <img src="/static/imgs/nikeshoes.png" width="400px" >
    <img src="/static/imgs/nikeblack.webp" width="400px" >
    <img src="/static/imgs/pinknike.png" width="400px" >
<h3 Check out some other things we sell></h3>

<a href="/cart">GO TO CART</a>


</a>
</body>
</html>