<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clothing page</title>
    <style>
.font {
    font-size:200px;
    text-align: center;
}

#color {
    color: purple;
}

#color2{
    color:blue;
}

.font2 {
    font-size:20px;
}

body {
    overflow-x: hidden;
    }
    </style>
</head>
<body>

    <!-- Title seciton for the big font NIKE SHOES -->
    <div class="title-section">
        <h1 class= font id="color"> Nike shoes</h1>
    </div>

    <!-- Shoe 1 section structure White and Blue -->
    <div class="shoe-section">
        <table>
            <tr>
                <td>
                    <img src="/static/imgs/nikeshoes.png" width="500px">
                </td>
                <td>
                    <h2 class= font2 id="color2"> White and Blue nike Air Jordans</h2>
                    <h3 class=font2 id= "color2"> 199.99 dollars</h3>
                    <h3 class= font2 id = "color2"> Available in all sizes</h3>
                </td>
            </tr>
        </table>
    </div>





    <div >
        <table>
            <tr>
                <td>
                    <img src="/static/imgs/nikeblack.webp" width="500px" >
                </td>
                <td>
                   <h2 class= font2 id = "color2"> Black and White nike air jordans</h2>
                <h3 class= font2 id = "color2">250 dollars</h3>
                <h3 class= font2 id = "color2">Available only in size 6</h3>                </td>
            </tr>
        </table>

    <div>
        <table>
            <tr>
                <td>
                    <img src="/static/imgs/pinknike.png" width="500px" >
                </td>
                <td>
        <h2 class= font2 id="color2">Pink and White nike air jordans</h2>
        <h2 class= font2 id="color2">99.99 dollars</h2>
        <h2 class= font2 id="color2">Available in kids' sizes</h2>      </td>
            </tr>
        </table>
<a href="/cart">GO TO CART</a>
</body>
</html>
