<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clothing page</title>
    <style>
.font {font-size:200px;}
#color {color: purple;}
#color2{color:blue;}
.font2 {font-size:20px;}
    </style>
}
</head>
<body>




<img src="/static/imgs/nikeshoes.png" width="500px" >
<div style = "position:relative; right:0px; top:8px;">
    <img src="/static/imgs/nikeblack.webp" width="500px" >
<div style = "position:relative; right: 0 px; top; 4px">
<img src="/static/imgs/pinknike.png" width="500px" >

<div style = "position:relative; right: -500px; top:-1350px;">
    <h1 class= font id="color"> Nike shoes</h1>
<h2 class= font2 id="color2"> White and Blue nike Air Jordans</h2>
<h3 class=font2 id= "color2"> 199.99 dollars</h3>
<h3 class= font2 id = "color2"> Available in all sizes</h3>


<div style = "position: relative; right:0px; top: 200px;">
    <h2 class= font2 id = "color2"> Black and White nike air jordans</h2>
    <h3 class= font2 id = "color2">250 dollars</h3>
    <h3 class= font2 id = "color2">Available only in size 6</h3>

</div>
<div style = "position: relative; right:0px; top: 450px;">
    <h2 class= font2 id="color2">Pink and White nike air jordans</h2>
    <h2 class= font2 id="color2">99.99 dollars</h2>
    <h2 class= font2 id="color2">Available in kids' sizes</h2>
<a href = "/home">go to home page
<button>

</body>
</html>
